*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 31.8rem;
}

body {
  min-width: 31.8rem;
  font-size: 1.4rem;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Navigation Bar Section */
nav {
  height: 5rem;
  background-color: #F72210;
}

.nav__second-sign {
  font-size: 1.8rem;
}

.nav__second {
  width: 27.6rem;
  justify-content: space-around;
  align-items: center;
}

.nav__second-btn {
  width: 12.5rem;
  height: 2.6rem;
  font-size: 1.8rem;
}

.nav__second-menu {
  width: 6.8rem;
  height: 100%;
}

.nav__second-menu i {
  font-size: 2.8rem;
  color: #FB9A94;
}

.nav__container-weather {
  width: 17rem;
  height: 3.5rem;
  align-items: center;
  justify-content: space-around;
}

.nav__container-weather i {
  font-size: 1.4rem;
}

.nav__container-weather a span i {
  margin-left: 0.4rem;
  font-size: 1.4rem;
}

.nav__container-weather a span {
  font-size: 1.5rem;
}

.nav__list {
  display: flex;
}

@media screen and (max-width: 575px) {
  .nav__container-weather i {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .nav__container-weather a span,
  .nav__container-weather a span i {
    display: none;
  } 

  .nav__container-weather {
    width: 0.1rem;
  }
}


@media screen and (max-width: 480px) {
  .nav__second-sign,
  .nav__second-btn {
    font-size: 1.4rem;
  }

  .nav__second {
    width: 20rem;
  }

  .nav__second-btn {
    width: 7rem;
  }

  .nav__second-btn i {
    display: none;
  }

  .nav__second-menu {
    width: 5rem;
  }
}

@media screen and (min-width: 991px) {
  .nav__second-menu {
    display: none;
  }

  .nav__second {
    width: 20%;
  }

  nav {
    height: 10.7rem;
    overflow: hidden;
  }

  .nav__container-logo {
    order: 2;
    width: 75%;
    display: flex;
    overflow: hidden;
  }

  .nav__container-weather {
    width: 25%;
    align-items: flex-start;
    padding-left: 3rem;
    flex-direction: column;
  }

  .nav__container-weather a span {
    font-size: 1.3rem;
    margin-left: 0.4rem;
  }

  .nav__container-weather a span i {
    font-size: 1.2rem;
  }

  .nav__container-date {
    color: white;
    font-size: 1.5rem;
  }

  .nav__container-logo svg {
    margin: 0 auto;
    width: 61%;
    height: 40%;
    padding: 0;
  }

  .nav__container-first {
    width: 80%;
  }

  .nav__second {
    align-items: flex-end;
    padding-bottom: 2rem;
    height: 100%;
  }

  .nav__list {
    border-bottom: 2px solid #F4F5F6;
    padding: 1.2rem 0;
    position: relative;
    top: -1.2rem;
    background-color: white;
    clip-path: polygon(93% 0, 94% 20%, 100% 20%, 100% 100%, 0 100%, 0 61%, 0 0);
  }

  .nav {
    width: 87%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 2.5rem;
  }

  .nav-item a {
    color: black;
    font-size: 1.8rem;
    margin: 0 auto;
    padding: 0 1rem 0 0;
    border-right: 2px solid #F4F5F6;
  }

  .nav-item a:hover {
    color: red;
  }

  .nav__search {
    margin-right: 1rem;
  }

  .nav__search-label {
    display: none;
    border:none; 
  }

  .nav__search-input {
    width: 42%;
    border: 0;
  }

  .nav__search-input::placeholder {
    color: black;
    font-size: 1.9rem;
  }

  .nav__search i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 990px) {
  .nav__container-date {
    display: none;
  }

  .nav__list {
    display: none;
  }
}

/* -------------------------------------------------First Container Main------------------------------ */


